@import url('https://fonts.googleapis.com/css?family=Playball');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script');



html,

header{
	background-color: white;
}

ul {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 0

}

li {
	float: left;
	display: inline-block;
	  margin: 0;
 	padding: 0;
 	background-color: white;

}

li a {
	top:0;
	display: inline-block;
	color: #353535;
	text-align: center;
	padding: 20px 24px;
	text-decoration: none;
	 background-color: white;
}

li a:hover {
	background-color: #eae0d5;

}

h1 {	
  color: white;
  background-color: #353535;
  clear: left;
  text-align: center;
  background-position: top;
  font-family: 'Petit Formal Script', cursive;
  font-size: 85px;
  margin-top: 0;
}
h3 {
   font-family: 'Playball', cursive;
  font-size: 85px;
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  display: block;
  text-align:left;
  font-family: 'Josefin Sans', sans-serif;
  padding: .5em;
  margin-bottom: 20px;
  font-size: 20px;

}
.mainpic {
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        margin: 0px;
        padding: 0px;
}

.mainpic img{
    opacity: 1.0;
}

img:hover {
    opacity: 0.5;
}
.text {
  color: black;
  font-family: 'Playball', cursive;
  font-size: 85px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; 
  opacity:0;
}

.text:hover {
  opacity: 1.0;
}

#slideshow {
  position: absolute;
  height: auto;
  width: 200%;
  overflow: hidden;
  margin: 0px auto;
  padding: 0px;
  animation: mymove 400s linear infinite;
  display: inline-block;
  font-size: 0;
}

@keyframes mymove {
  from {
    left: 0%;
  }
  to {
    left: -200%;
  }
}

#slideshow img {
  height: 25%;
  width: 25%;
  display: inline;
  overflow: visible;
}

</style>